{% extends '::base.html.twig' %}
{# Comments #}

{% block title 'Yay Twiggy Goodness!!!!!!!!!!!!!!!' %}

{% block body %}

    {% for i in 1..10 %}

    Hello <strong>{{ name|upper }}</strong>! #{{i}}

    {% endfor %}

    <h2>Event Details</h2>
    {{ event.name }}<br/>
    {{ event.location }}

{% endblock %}